*.swp
*.o
overflow
overflow_x64
overflow_tcp
overflow_tcp_x64
sc-test
sc-test_x64
funcjmp_simple_x86
funcjmp_ext_x86
funccrypt
funccrypt_x64
exec_crypter
exec_crypter_x64
exec_payload
exec_payload_x64
